
Options +FollowSymLinks

RewriteEngine On

# CFWheels rewriting (add your own files and folders that should be excluded from URL rewriting by adding them to the "RewriteCond" line below)
RewriteCond %{REQUEST_URI} !^.*/(flex2gateway|jrunscripts|cfide|cfformgateway|cffileservlet|railo-context|files|img|javascripts|miscellaneous|stylesheets|fonts|robots.txt|sitemap.xml|rewrite.cfm|favicon.ico)($|/.*$) [NC]
RewriteRule ^(.*)$ ./rewrite.cfm/$1 [NS,L]
