.page-header a.btn {
	float: right;
}

.wrapper {
	width: 90%;
	min-width: 960px;
	margin: 0 auto;
	padding-top: 20px;
}

.small.center.login {
	float: none;
	margin: 0 auto;
	width: 470px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 5px;
}

.small.center.login input.text, .small.center.login textarea {
    padding: 7px;
    width: 96%;
}

.well form label {
    color: #555555;
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: middle;
    display: inline;
}

.navbar .user { 
	float: right; 
	font-size: 12px; 
	margin-top: 10px; 
	color: #bbbbbb;
}

/* Paginations */
.pagination a.active {
  background-color: #f5f5f5;
  color: #999999;
}

.pagination a.active:hover {
  background-color: #ffffff;
}

.pagination.right {
	text-align: right;
}

table tr td.actions {
    text-align: right;
    white-space: nowrap;
}

.toggling {
    background: url(../img/ajax-loader.gif) no-repeat scroll right center transparent;
    display: block;
    width: 16px;
    height: 16px;
}

.page-header {
    height: 40px;
    line-height: 40px;
}

.page-header h2 {
    float: left;
}

.content {
    background-color: #ffffff;
}

.floated {
    float: left;
    padding-right: 10px;
}

.clear {
    clear: both;
}

